<div class="controls">
  <div *ngIf="chessService.isAIMode()">
    <h3>AI Level</h3>
    <div class="slider-container custom-slider">
      <ng5-slider [(value)]="chessService.level" [options]="options"></ng5-slider>
    </div>
  </div>
  <div *ngIf="chessService.isMultiplayerMode()">
    <h3>Players Online</h3>
    <ul *ngIf="socketService.peopleConnected() && chessService.isMultiplayerMode()">
      <li  *ngFor="let client of socketService.getClients()">
        <button (click)="socketService.requestToPlay(client)">
          Play
        </button>
        {{ client | truncate : 15 }}
      </li>
    </ul>
  </div>
  <button class="reset-button" (click)="resetGame()">
    reset game
  </button>
  <arrows></arrows>
  <app-sockets></app-sockets>
  <a href="https://github.com/nelsondude/chessai" target="_blank" class="source-button">source code</a>
</div>
