.control-content {
  transition: all .3s;
  background: transparent;
  border-radius: 20px;
  border: 3px solid white;
  min-height: 400px;
  width: 300px;
  color: white;
  text-align: center;
  padding: 30px;
  h1 {
    border-bottom: 3px solid white;
    padding-bottom: 10px;
    margin-bottom: 50px;
  }
  @media (max-width: 1250px) {
    width: 250px;
  }
}
