.layout {
  min-height: 100vh;
  background: linear-gradient(#0087C3, #001B27);
  position: relative;
}

.main-content {
  display: -webkit-flex; /* Safari */
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.left-content, .right-content {
  display: inline-flex;
  flex: 1;
  text-align: center;
  justify-content: center;
}

.center-content {
  display: inline-block;
  text-align: center;
}
