<div class="info">
  <div class="info-row" style="padding-bottom: 10px;">
    <mat-radio-group (change)="changeMode($event)">
      <mat-radio-button
        *ngFor="let option of options"
        labelPosition="before"
        [disabled]="option.disabled"
        [checked]="option.checked"
        [value]="option.value">{{ option.value }}</mat-radio-button>
    </mat-radio-group>
    <mat-slide-toggle disabled="" labelPosition="before">
      Timed
    </mat-slide-toggle>
  </div>
  <div class="info-row">
    <span>Me</span>
    <span id="turn">Turn: {{ chessService.turn }}</span>
    <span>Computer</span>
  </div>
</div>
