.info {
  padding-top: 20px;
  min-width: 758px;

  /*New styling*/
  padding-bottom: 20px;
  border-bottom: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

mat-radio-group {
  display: inline-flex;
  flex-direction: column;
}

mat-radio-button {
  /*padding-right: 20px;*/
}

.info-row {
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
