.info {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 80px;
}

mat-radio-button {
  padding-right: 20px;
}

.info-row {
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
